html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hidden {
    display: none;
}

.grid-header {
    border: 1px solid #eee;
    padding: 10px;
    background-color: #33b5e5;
    color: #fff;
}

label {
    text-align: left;
}